/* General Styles */
body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

h1 {
  color: #ffd943;
}

p {
  font-size: 13px;
  margin-bottom: 0.5em;
}

.section {
  margin-bottom: 2em;
}

.section-title {
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 16px;
  color: #ffd943;
}

.contact-info {
  margin-left: 0;
}

.section-content {
  margin-left: 20px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(0px);
  z-index: 1;
  padding-top: 50px;
  padding-left: 40px;
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #fe4f68;
}

.sidebar a.active {
  background-color: #ffd943;
  color: #000000;
}

/* Main Content */
.main-content {
  width: 100%;
  max-width: 1000px;
  padding: 40px;
  background-color: #000000;
  color: #ffffff;
  transition: margin-left 0.3s;
  position: relative;
  z-index: 0;
  margin-left: 0;
}

/* Open Button */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 2;
  background-color: #3166d9;
  color: #ffffff;
  border-radius: 20%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.openbtn:hover {
  background-color: #ffd944;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Profile Header */
.profile-header {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.profile-header img {
  margin-right: 20px;
  border-radius: 50%;
}

.profile-info h1,
.profile-info h2 {
  margin: 0;
}

.profile-info .contact-info {
  margin-top: 10px;
}

/* Grid Layout for Computer Literacy */
.section-content-computer-literacy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.section-content-computer-literacy img,
h3 {
  grid-column: 1 / -1;
  width: 80%;
}

.section-content-computer-literacy p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    transform: translateY(-100%);
  }

  .sidebar a {
    margin-left: 0;
    font-size: 14px;
  }

  .openbtn {
    left: 10px;
  }

  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .profile-header img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .profile-info {
    text-align: center;
  }

  .section-content-computer-literacy {
    grid-template-columns: 1fr; /* Single column layout on mobile */
  }

  .sidebar {
    display: none;
  }

  .openbtn {
    display: none;
  }

  .main-content {
    width: 100%;
    max-width: none;
    margin-left: 0;
  }

  h2 {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

p::before {
  content: "> ";
  color: #ffffff; /* Optional: Change the color of the ">" */
}
